*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #eee;
}

header {
  padding: 2em 0;
  text-align: center;
  background-color: #fff;
}

h1 {
  display: inline-block;
  font-size: 2.25rem;
  font-weight: 400;
  color: #8b6914;
  position: relative;
}

h1::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 4px;
  background: linear-gradient(
    90deg,
    transparent,
    #76ee00 15%,
    #00eeee 20% 50%,
    #ff00ff 70%,
    transparent
  );
  bottom: 0;
}

h1::first-letter {
  color: #ffb90f;
  font-weight: 700;
  font-size: 3.5rem;
}

.container {
  width: min(95%, 1200px);
  height: 500px;
  padding: 2em 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.bookCard {
  display: flex;
  border-radius: 10px;
  width: calc(50% - 1em);
  height: 300px;
  background-color: #fff;
  box-shadow: 0 0 0.5em #f0fff0;
}

.bookCard:nth-child(4n) .book-cover {
  background-color: #c1daea;
}

.bookCard:nth-child(4n + 1) .book-cover {
  background-color: #f79daa;
}

.bookCard:nth-child(4n + 2) .book-cover {
  background-color: #85ffba;
}

.bookCard:nth-child(4n + 3) .book-cover {
  background-color: #ffe972;
}

.book-cover {
  width: 40%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-cover h2 {
  font-size: 2.35rem;
  text-align: center;
}

.publisher {
  position: absolute;
  top: 0;
  left: 0;
  background: #ffb90f;
  padding: 0.5em 0.75em;
  border-radius: 0 0.5em 0 0.5em;
}

.book-content {
  padding: 1.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.book-content h3 {
  font-size: 1.5em;
  font-weight: 400;
}

.author {
  font-weight: 700;
  font-style: italic;
}

.book-content p {
  margin: 1em 0;
}

.show-characters-btn {
  background-color: #121212;
  color: #fff;
  font-size: 1.07rem;
  border: 0;
  padding: 0.5em 0.75em;
  cursor: pointer;
}
